<nav class="navbar navbar-light" style="background-color: white; ">
    <img src="../../assets/IME2.jpg" alt="ime" style="margin-top: 10px; margin-left: 10px;">
</nav>
<div class="container">
    <div class="container-fluid h-100 bg-white division">
        <div class="row align-items-center h-200">
            <div class="col-12">
                <p>Vous recevrez un message de confirmation par mail apres vérification de vos informations </p>
            </div>
            <div class="col-12">
                <button class="btn btn-success" (click)="retour()" style="width: 100%; font-size: 20px; margin-top: -10px;">Accueil</button>
            </div>
        </div>
    </div>
</div>